/*
* COLOURS
*/
$black:								#000;
$white:								#fff;
$main-colour:					#D75252;

/*
* FONTS
*/
$freight:							"freight-sans-pro";


/*
* COMPONENTS
*/

// General
$main-border-color:		$black;

// Navbar
$navbar-color:				$main-colour;

