/*
* COLOURS
*/
$black:								#000;
$white:								#fff;
$main-colour:					#D75252;

$light-grey:					#ECECEC;

/*
* FONTS
*/
$freight:							"freight-sans-pro";


/*
* COMPONENTS
*/

// General
$main-border-color:		$light-grey;
$main-margin:					20px;


// Navbar
$navbar-color:				$main-colour;
$navbar-height:				40px;
