@import 'ember-paper';

/* Utilities */
@import "utilities/variables";
@import "utilities/mixins";

/* General */
@import "base";
@import "main";

/* Routes */
@import "routes/index";

/* Components */
@import "components/nav-bar";
@import "components/recipe-card-container";
@import "components/recipe-card-swipe";
@import "components/recipe-card";
@import "components/search-filters";
@import "components/swipe-container";


/* Application Container */
.b-application {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__container {
		position: absolute;
		width: 100%;
		height: calc(100% - 40px);
		overflow-y: scroll;
	}
}