<div class="b-application">
	{{nav-bar}}
	<div class="b-application__container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>