{{#each recipes as |recipe index|}}
	{{recipe-card 
		recipe=recipe
		flipped=flipped
		class=(if (eq currentRecipe index) "m-active")
	}}

{{/each}}


{{!-- <button {{action "getMoreRecipes"}}>Get More</button> --}}
