{{#each recipes as |recipe index|}}
	{{recipe-card 
		recipe=recipe
		index=index
		currentRecipe=currentRecipe
	}}

{{/each}}


{{#if (eq currentRecipe 0)}} hello {{/if}}


{{!-- <button {{action "getMoreRecipes"}}>Get More</button> --}}
