.b-nav-bar {
	height: $navbar-height;

	// Bootstrap overrides
	nav.navbar.navbar-default {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: $navbar-color;
    min-height: $navbar-height;
    height: $navbar-height;

  	.navbar-brand {
			color: $white;
			padding: 0 15px;
			line-height: $navbar-height;
		}
	}
}