.b-recipe-card-container {
	width: 100%;
	outline: none;

	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&.m-grid {
			display: block;
			-moz-column-width: 320px;
			-webkit-column-width: 320px;
			column-width: 320px;
		}
	}

	&__filter-controls {
		text-align: right;

		&__button {
	    background: none;
	    outline: none;
	    border: none;
	    line-height: 0;

	    &__icon {
	    	font-size: 30px;
	    	color: $main-colour;
	    }
		}
	}
}