.b-recipe-card-container {
	width: 100%;
	outline: none;

	&.m-scroll {
		display: block;
		text-align: center;
	}

	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}